<div class="container-fluid text-white" style="background-color: #1E1F29;">
  <div class="container">
    <div class="row row-cols-3" style="font-size: calc(100% / 1.5)">
      <div class="col col-lg-2">
        <div class="d-flex">
          <div>
            <i class="fa-solid fa-store"></i>
          </div>
          <div>
            021-95-51-84
          </div>
        </div>
      </div>

      <div class="col col-lg-2">
        <div class="d-flex">
          <div>
            <i class="fa-solid fa-store"></i>
          </div>
          <div>
            email@email.com
          </div>
        </div>
      </div>

      <div class="col col-lg-2">
        <div class="d-flex">
          <div>
            <i class="fa-solid fa-store"></i>
          </div>
          <div>
            1734 Stone-coal Road
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex">
          <div>
            <i class="fa-solid fa-store"></i>
          </div>
          <div>
            USD
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex">
          <div>
            <i class="fa-solid fa-store"></i>
          </div>
          <div>
            My Account
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-white p-4" style="background-color: #15161D">
  <h1 class="d-flex justify-content-center">Electro.</h1>
  <div class="bg-white">
    <div class="row d-flex">
      <select class="d-block col rounded-5 rounded-end">
        <option>All Categories</option>
        <option>All Categories</option>
      </select>
      <input class="d-block col" type="text" value="" placeholder="Search here">
      <button class="d-block col rounded-5 rounded-start">Search</button>
    </div>
  </div>
</div>

