<div class="container-fluid text-white" style="background-color: #1E1F29;">
  <div class="container">
      <div class="row">
        <div class="col-6">
          <ul class="row">
            <li class="col d-block"> <i class="fa-solid fa-store"></i> 021-95-51-84</li>
            <li class="col"> <i class="fa-solid fa-store"></i> 021-95-51-84</li>
            <li class="col"> <i class="fa-solid fa-store"></i>021-95-51-84 </li>
          </ul>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <ul class="row">
            <li class="col"> <i class="fa-solid fa-store"></i>USD</li>
            <li class="col"> <i class="fa-solid fa-store"></i>  My Account </li>
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid text-white mb-5" style="background-color: #15161D">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Electro.</h1>
      </div>
      <div class="col">
        <div class="d-flex bg-white align-content-center">
          <div>
            <select class="rounded-5 rounded-end">
              <option>All Categories</option>
              <option>All Categories</option>
            </select>
          </div>

          <div>
            <input type="text" value="" placeholder="Search here">
          </div>

          <div class="rounded-5 rounded-start bg-danger">
            <button class="bg-danger">Search</button>
          </div>
        </div>
      </div>
      <div class="col">
        <ul class="d-flex">
          <li class=""> <i class="fa-solid fa-store"></i>USD</li>
          <li class=""> <i class="fa-solid fa-store"></i>  My Account </li>
        </ul>
      </div>
    </div>
  </div>
</div>
